body{
    margin: 0 auto;
    height: 100vh;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
}

button {
    border: none;
    color: gray;
    font-size: 10px;
    width: 100px;
    height: 7em;
    border-radius: 1em;
    -webkit-box-shadow: 5px 3px 15px #777;
    box-shadow: 0px 0px 15px #777;
    transition: all ease .5s;
}

button:hover{
    transform: scale(.9);
    background-color: #d8edff;
    -webkit-box-shadow: 0px 0px 2px;
    box-shadow: 0px 0px 2px;
}
